{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title> Изменить статью #{{ state.pk }}</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center"> Изменить статус #{{ state.pk }}</legend>
    <div class="card ">
        <form class="card-body" method="POST" action=".">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ field.label|escape }}:</strong>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="d-flex gap-3 row row-cols-auto">
                <div class="col">
                    <button type="submit" class="btn btn-primary ">Сохранить</button>
                </div>
                <div class="col">
                    <a href="{% url 'states' %}" class="btn btn-outline-primary">Отменить</a>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
