{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Список статусов статей</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center"> Список статусов статей</legend>
    <div class="row justify-content-center">
        <div class="row justify-content-center"">
            {% if 'states.add_state' in perms %}
                <a href="{% url 'create_states' %}" class="btn btn-primary w-100 mb-3">+ Добавить</a>
            {% endif %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Опция</th>
                </tr>
                </thead>
                <tbody>
                {% for state in states %}
                    <tr>
                        <th scope="row">{{ state.pk }}</th>
                        <td>{{ state.name|truncatechars:30  }}</td>
                        <td>
                            <a href="{{ state.get_detail_url }}" class="btn btn-primary">Просмотреть</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}


