{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Просмотр статуса #{{ state.pk }}</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Просмотр статуса #{{ state.pk }}</legend>
    <div class="card ">
        <div class="card-body row">
                <div class="col-6 d-flex flex-column gap-3">
                    <div class="div">
                        <span class="fs-5">Наименование: </span>
                        <span class="fs-5">{{ state.name }}</span>
                    </div>
                </div>
            <div class="d-flex gap-3 mt-3 row row-cols-auto">
                <div class="col">
                    <a href="{% url 'states' %}" class="btn btn-outline-primary">К списку статусов</a>
                </div>
                {% if 'states.change_state' in perms %}
                    <div class="col">
                        <a href="{{ state.get_update_url }}" class="btn btn-warning">Изменить</a>
                    </div>
                {% endif %}
                {% if 'states.delete_state' in perms %}
                <div class="col">
                    <form action="{{ state.get_delete_url }}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock content %}
