{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap %}

{% block header_meta %}
    <title>Список статей</title>
    <link rel="stylesheet" href="{% static 'articles/css/styles.css' %}" media="all">
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Список статей</legend>
    <div class="row justify-content-center">

        <div class="table-wrap">

            <form method="GET" class="mb-3">
                <div class="row">

                    {% for form in filter.form %}
                        <div class="col-lg-6 col-12">
                            {{ form|bootstrap }}
                        </div>
                    {% endfor %}

                </div>


                <button type="submit" class="btn btn-outline-primary w-100 mt-3">Найти</button>

            </form>

            <a href="{{ request.path }}" class="btn btn-info w-100 mb-3">Отчистить</a>

            {% if 'articles.add_article' in perms %}
                <a href="{% url 'create_articles' %}" class="btn btn-primary w-100 mb-3">+ Добавить</a>
            {% endif %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Статья</th>
                    <th scope="col">Статус статьи</th>
                    <th scope="col">Дата обновления</th>
                    <th scope="col">Опция</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ article.pk }}</th>
                        <td>{{ article.name|truncatechars:30 }}</td>
                        <td>{{ article.get_current_state.name|truncatechars:30 }}</td>
                        <td>{{ article.date_edited }}</td>
                        <td>
                            <a href="{{ article.get_show_url }}" class="btn btn-primary">Просмотреть</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}
