<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/authors/css/styles.css" media="all">
    <title>Title</title>
</head>
<body>
    <header>
        <ul class="nav-link-left">
            <li><a href="/articlesmanager/articles/templates/articles/articles_list.html">Статьи на рецензию</a></li>
            <li><a href="#">Открытые голосования</a></li>
        </ul>
        <ul class="nav-link-right">
            <li><a href="#"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Владимир Викторович</a></li>
            <li><a href="#">Выйти</a></li>
        </ul>
    </header>
    <hr>
   <!-- <form action="{% url 'create_authors' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>-->
    <!--<form>-->
        <legend class="text-center"> Изменить пользователя</legend>
        <div class="card ">
            <div cass="card-body">
        <div class="mb-3">
            <label for="surname" class="form-label">Фамилия</label>
            <input type="surname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Имя</label>
          <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="namebaty" class="form-label">Отчество</label>
            <input type="namebaty" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Электронная почта</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Дополнительная ифнормация</label>
            <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Пароль будет отправлен по адресу эл. почты указанному выше</label>
        </div>
          <div class="d-flex justify-content">
            <div>
              <button type="button" class="btn btn-primary ">Сохранить</button>
            </div>
            <div>
              <button type="button" class="btn btn-outline-primary">Отменить</button>
            </div>
          </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Профиль</h5>
                        <button type="button"class="btn-close" data-bs-dismiss="modal" arial-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card" id="detail">
                            <div cass="card-body">
                        <div class="mb-3">
                            <label for="surname" class="form-label">Фамилия:</label>
                            <label for="surname" class="form-label">Чета встанет</label>
                        </div>
                        <div class="mb-3">
                          <label for="name" class="form-label">Имя:</label>
                          <label for="surname" class="form-label">Чета встанет</label>
                        </div>
                        <div class="mb-3">
                            <label for="namebaty" class="form-label">Отчество:</label>
                            <label for="surname" class="form-label">Чета встанет</label>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Электронная почта:</label>
                            <label for="surname" class="form-label">Чета встанет</label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Дополнительная ифнормация:</label>
                            <label for="surname" class="form-label">Чета встанет</label>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>