{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/core_style.css' %}" media="all">
    <link rel="icon" type="image/x-icon" href="{% static 'core/img/icon.ico' %}">

    {% block header_meta %}
    {% endblock header_meta %}

</head>
<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <span class="navbar-brand">Навигация</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <span></span>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'articles' %}" class="nav-link">Статьи</a></li>
            <li class="nav-item"><a href="{% url 'authors' %}" class="nav-link">Авторы</a></li>
            <li class="nav-item"><a href="{% url 'states' %}" class="nav-link ">Статусы</a></li>
            <li class="nav-item"><a href="{% url 'votings' %}" class="nav-link">Голосования</a></li>
            <li class="nav-item"><a href="{% url 'reviews' %}" class="nav-link">Рецензии</a></li>
            <li class="nav-item"><a href="{% url 'users' %}" class="nav-link ">Пользователи</a></li>
            <li class="nav-item"><a href="{% url 'groups' %}" class="nav-link">Группы</a></li>
            <li class="nav-item"><a href="{% url 'positions' %}" class="nav-link">Должности</a></li>
        </ul>
            <div>
                <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" class="btn btn-outline-primary me-2">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
                <a type="button" class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
            </div>
      </div>
    </div>
</nav>

<hr class="mt-0"/>

{% block content %}
{% endblock content %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="card" id="detail">
                    <div class="card-body">
                        <div class="mb-3">
                            <a href="{% url 'notifications' %}" class="btn btn-outline-primary">У
                                вас {{ request.user.get_notifications_count }} уведомлений</a>
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="form-label">Фамилия:</label>
                            <label for="surname" class="form-label">{{ request.user.last_name }}</label>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Имя:</label>
                            <label for="surname" class="form-label">{{ request.user.first_name }}</label>
                        </div>
                        <div class="mb-3">
                            <label for="namebaty" class="form-label">Отчество:</label>
                            <label for="surname" class="form-label">{{ request.user.middle_name }}</label>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Электронная почта:</label>
                            <label for="surname" class="form-label">{{ request.user.email }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous">
    </script>
</div>

</body>
</html>
