{% load spurl %}

<nav class="d-flex justify-content-center mt-4">
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item">


                <a href="{% spurl query=request.GET set_query='page={{page_obj.previous_page_number}}' %}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% if page_obj.number|add:'-3' > 1 %}
            <li class="page-item">

                <a href="{% spurl query=request.GET set_query='page=1' %}" class="page-link">
                    1
                </a>

            </li>
            <li class="page-item">
                <p class="page-link">&hellip;</p>
            </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <li class="page-item"><p class="page-link bg-c_yellow-700 text-black">{{ i }}</p></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item">

                    <a href="{% spurl query=request.GET set_query='page={{ i }}' %}" class="page-link">
                        {{ i }}
                    </a>

                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <li class="page-item">
                <p class="page-link">&hellip;</p>
            </li>
            <li class="page-item">

                <a href="{% spurl query=request.GET set_query='page={{ page_obj.paginator.num_pages  }}' %}" class="page-link">
                    {{ page_obj.paginator.num_pages }}
                </a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">

                <a href="{% spurl query=request.GET set_query='page={{page_obj.next_page_number}}' %}" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}

    </ul>
</nav>