{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Информация об установке пароля пользователя {{ user.email }}</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Информация об установке пароля пользователя {{ user.email }}</legend>
    <div class="card">
        <div class="card-body row">

            <div class="mt-3">
                <p class="fs-5">
                    Для пользователя <a href="{{ user.get_detail_url }}">{{ user.email }}</a> был установлен пароль:
                </p>
                <p class="fs-5 fw-bold">{{ password }}</p>
            </div>

        </div>
    </div>

{% endblock content %}
