{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Просмотр должности #{{ position.pk }}</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Просмотр должности #{{ position.pk }}</legend>
    <div class="card ">
        <div class="card-body">

            <div class="row">

                <div class="col-6 d-flex flex-column gap-3">
                    <div class="div">
                        <span class="fs-5">Наименование: </span>
                        <span class="fs-5">{{ position.name }}</span>
                    </div>
                </div>

            </div>

            <div class="d-flex gap-3 mt-3">
                <div>
                    <a href="{% url 'positions' %}" class="btn btn-outline-primary">К списку должностей</a>
                </div>
                {% if 'users.изменение_должностей' in perms %}
                <div>
                    <a href="{{ position.get_update_url }}" class="btn btn-warning">Изменить</a>
                </div>
                {% endif %}
                {% if 'users.удаление_должностей' in perms %}
                <div>
                    <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#delete_modal">Удалить</button>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    {% include 'core/delete_popup.html' %}

{% endblock content %}
