{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Просмотр пользователя #{{ user.pk }}</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Просмотр пользователя #{{ user.pk }}</legend>
    <div class="card">
        <div class="card-body row">

            <div class="mt-3 col-lg-6 col-sm-12">
                <span class="fs-5">Фамилия:</span>
                <span class="fs-5">{{ user.last_name }}</span>
            </div>

            <div class="mt-3 col-lg-6 col-sm-12">
                <span class="fs-5">Имя:</span>
                <span class="fs-5">{{ user.first_name }}</span>
            </div>

            <div class="mt-3 col-lg-6 col-sm-12">
                <span class="fs-5">Отчество:</span>
                <span class="fs-5">{{ user.middle_name }}</span>
            </div>

            <div class="mt-3 col-lg-6 col-sm-12">
                <span class="fs-5">Почта:</span>
                <span class="fs-5">{{ user.email }}</span>
            </div>

            <div class="mt-3 col-lg-6 col-sm-12">
                <span class="fs-5">Должность:</span>
                <a href="{{ user.position.get_detail_url }}">{{ user.position.name }}</a>
            </div>

            <div class="d-flex gap-3 mt-3 row row-cols-auto" >
                <div  class="col">
                    <a href="{% url 'users' %}" class="btn btn-outline-primary">К списку пользователей</a>
                </div>
                {% if 'users.изменение_пользователей' in perms %}
                    <div class="col">
                        <a href="{{ user.get_update_url }}" class="btn btn-warning">Изменить</a>
                    </div>
                {% endif %}
                {% if 'users.изменение_пользователей' in perms %}
                    <div class="col">
                        <a href="{{ user.get_reset_password_url }}" class="btn btn-info">Сбросить пароль</a>
                    </div>
                {% endif %}
                {% if 'users.удаление_пользователей' in perms %}
                <div class="col">
                    <form action="{{ user.get_delete_url }}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    <legend class="text-center">Группы пользователя</legend>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Опция</th>
                </tr>
                </thead>
                <tbody>
                {% for group in user.groups.all %}
                    <tr>
                        <th scope="row">{{ group.pk }}</th>
                        <td>{{ group.name }}</td>
                        <td>
                            <a href="{% url 'detail_groups' pk=group.pk %}" class="btn btn-primary">Просмотр</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
