{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'users/css/users_style.css' %}" type=text/css>
    <script defer src="{% static 'users/js/users_script.js' %}"></script>
{% endblock header_meta %}

{% block content %}
    <div class="hello-world">
        {{ hello }}
    </div>
    <img id="my-img" src="{% static 'users/images/c79705bb-0de6-49fc-8532-be382da67d2e.png' %}" alt="pepe the frog">
{% endblock content %}
