{% extends 'core/base.html' %}

{% load static %}
{% load bootstrap %}

{% block header_meta %}
    <title>Уведомления</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Уведомления</legend>
    <div class="row justify-content-center">
        <div class="col-10">

            <form method="GET" class="mb-3">
                <div class="row">

                    {% for form in filter.form %}
                        <div class="col-lg-6 col-12">
                            {{ form|bootstrap }}

                        </div>
                    {% endfor %}

                </div>

                <button type="submit" class="btn btn-outline-primary w-100 mt-3">Найти</button>

            </form>

            <a href="{{ request.path }}" class="btn btn-info w-100 mb-3">Очистить</a>

            {% for notification in notifications %}
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <p>{{ notification.subject }}</p>
                        <a href="{{ notification.get_detail_url }}">Перейти</a>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <p>{{ notification.date_created }}</p>
                        {% if notification.checked %}
                            <span>Прочитано</span>
                        {% else %}
                            <span>Не прочитано</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

    {% include 'core/pagination.html' %}

{% endblock content %}


