{% extends 'core/base.html' %}

{% load static %}

{% block header_meta %}
    <title>Добавить пользователя к группе</title>
{% endblock header_meta %}

{% block content %}

    <legend class="text-center">Добавить пользователя к группе</legend>
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Электронная почта</th>
                    <th scope="col">Опция</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.pk }}</th>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.middle_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <form method="post"
                                  action="{% url 'add_user_to_group' pk=group.pk user_id=user.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'core/pagination.html' %}

{% endblock content %}


